/*
 *
 * Estilos Busquedas
 *
 */

 /*@font-face{
    font-family: "Helvetica Neue CE55";
    src: url("Helvetica_Neue_CE_55_Roman.ttf")
}
body{
	font-family: "Helvetica Neue CE55";
}*/

.header{
	font-size: 10px !important;
	color: #A9A9A9 !important;
	padding: 10px 10px 5px !important;
	margin: 0px !important;
}
#tabsPrincipal{
	border: thin solid #C3C3C3 !important;
	background-color: #F3F3F3 !important;
	padding: 0px 5px !important;
}
#entidadMenu > a.item{
	padding-left: 0rem !important;
	padding-right: 0rem !important;
}
.criterios{
	padding: 0px 15px !important;
	box-shadow: none !important;
}
.ui.list.colecciones{
	overflow-x: hidden;
	overflow-y: scroll;
	height: 150px;
}
div#content{
	margin-bottom: 60px !important;
	padding: 15px !important;
}
div#containerResults > div.ui.segment{
  margin: .5rem 0em;
  padding: 2em 1em;
}
div#containerResults > div.ui.segment > div.ui.label > span{
	font-size: 2em !important;
}
div#segmentTotalColeccion, div#segmentFacet{
	padding-top: 2rem ! important;
}
div#containerResults > div.ui.segment > div.ui.label > span, div#segmentTotalColeccion > div.label, div#segmentFacet > div.label{
	color: #A90329 !important;
	font-weight: 700 !important;
}
div.vertical.basic.fluid.buttons > button{
	text-align:left !important;
}
div.vertical.basic.fluid.buttons > button > span{
	float: right !important;
	color: blue !important;
}
.footer{
	color: #92A29F !important;
	background: #2A2725 none repeat scroll 0% 0% !important;
	position: fixed !important;
	bottom: 0 !important;
	padding: 15px !important;
	z-index: 1000 !important;
}

.customNoneFloatIcon{
	float: none !important;
	margin-right:5px !important;
}
.customBlueButton{
	background-color: #57889C !important;
	color: #FFF !important;
}
.customBlueButton > .icon{
	background-color: rgba(0, 0, 0, 0.15) !important;
}
.customBigLabel{
	font-size: 1rem !important;
}
.customHugeLabel{
	font-size: 1.2rem !important;
}
.customCenterAligned{
	text-align: center !important;
}
.daterangepicker.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0px;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 5px 0px;
    margin: 2px 0px 0px;
    font-size: 14px;
    text-align: left;
    list-style: outside none none;
    background-color: #FFF;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.176);
}